div#stats {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 212px;

  background: rgba(#344762, 0.8);
  background: linear-gradient(to bottom, rgba(#344762,0.8) 0%,rgba(#262323,0.8) 100%);

  &.updating > * {
    opacity: 0.5;
  }

  ul.metrics {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    margin-top: 20px;
    margin-left: 50px;
    padding: 0;
    li {
      display: inline-block;
      margin-right: 12px;
      line-height: 16px;
    }
    li:first-child {
      margin-right: 24px;
      border-right: 1px solid #979797;
      padding-right: 18px;
      height: 36px;
      vertical-align: top;
    }
    p {
      margin: 0;
      color: white;
      font-weight: bold;
      cursor: pointer;
    }
    a {
      cursor: pointer;
    }
    a:hover {
      color: #DDDDDD;
    }
  }

  div.chart {
    cursor: crosshair;
    &.shift {
      cursor: grab;
    }
    &.shift-drag {
      cursor: grab;
      cursor: grabbing;
    }
    g.start_marker,
    g.end_marker {
      cursor: ew-resize;
    }
  }
}

button.compare-toggle {
  position: absolute;
  top: 16px;
  right: 25px;
  background-color: none;
  border: 2px solid white;
  &:not(.disabled):hover {
    background-color: #F6F6F6;
    color: #4B5A6A;
  }
  &:active {
    box-shadow: inset 0 5px 30px #DADADA;
  }
}

ul.hot-projects {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: -10px;
  overflow-y: auto;
  li {
    line-height: 30px;
    margin-bottom: 10px;
  }
}

.overlays-dropdown > .rc-dropdown-menu:before {
  left: 21px;
  right: auto;
}

div.ReactModalPortal {
  a.close-link {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    color: #BEC9D5;
  }
}
