div#map {
   position:absolute;
   top:0;
   bottom:0;
   width:100%;
   background-color: #def;
   z-index: -1;
}

button.outline {
  position: absolute;
  top: 72px;
  left: 200px;
}
button.filter {
  position: absolute;
  top: 72px;
  right: 90px;
}
button.overlay {
  position: absolute;
  top: 72px;
  right: 25px;
  width: 50px;
  background-image: url("../../assets/overlays.svg");
  background-position: center;
  background-repeat: no-repeat;
}
