div#map {
   position:absolute;
   top:0;
   bottom:0;
   width:100%;
   background-color: #def;
   z-index: -1;
}

div.search {
  position: absolute;
  top: 72px;
  left: 36px;
}

span.search-alternative {
  position: absolute;
  display: block;
  color: #505254;
  top: 72px;
  left: 340px;
  width: 45px;
  line-height: 35px;
  text-align: center;
  pointer-events: none;
}

button.outline {
  position: absolute;
  top: 72px;
  left: 390px;
}
button.filter {
  position: absolute;
  top: 72px;
  right: 90px;
}
button.overlay {
  position: absolute;
  top: 72px;
  right: 25px;
  width: 50px;
  background-image: url("../../assets/overlays.svg");
  background-position: center;
  background-repeat: no-repeat;
}
