div#map {
   position:absolute;
   top:0;
   bottom:0;
   width:100%;
   background-color: #def;
   z-index: -1;
}

div.search {
  position: absolute;
  top: 72px;
  left: 36px;
}

span.search-alternative {
  position: absolute;
  display: block;
  color: #505254;
  top: 72px;
  left: 340px;
  width: 45px;
  line-height: 35px;
  text-align: center;
  pointer-events: none;
}

button.outline {
  position: absolute;
  top: 72px;
  left: 390px;
}
button.filter {
  position: absolute;
  top: 72px;
  right: 25px;
}

/* leaflet stuff */
.leaflet-vertex-icon {
  background-color: white;
  border-radius: 6px;
  border: 2px solid gray;
}

.leaflet-middle-icon {
  background-color: gray;
  border-radius: 4px;
  border: 0;
}

.leaflet-bottom.leaflet-right .leaflet-control-zoom {
  margin-right: 25px;
  margin-bottom: 20px;
}
.leaflet-control-zoom {
  a {
    background-color: #364B52;
    opacity: 0.4;
    color: white;
    &:hover {
      opacity: 0.67;
    }
  }
}

.countryView .leaflet-bottom {
  margin-bottom: 212px;
}


/* mapboxgl stuff */
.mapboxgl-canvas-container canvas {
  transform: none !important;
}
