html,
body {
  margin: 0;
  padding: 0;
}

body {
  font: 16px 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #ffffff;
  color: #838383;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

p {
}

.number {
  font-weight: bold;
  color: #DDDDDD;
}
.descriptor {
  color: #DDDDDD;
  font-size: 12px;
}

a, a:hover, a:active, a:focus {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: #4B5A6A
}
a.link {
  font-size: 14px;
  border-bottom: 1px solid #838383;
  &:hover {
    border-bottom-color: #4B5A6A;
  }
}

h1, h2, h3 {
  font-weight: bold;
  color: #505254;
  line-height: 1.25em;
}
h1 { font-size: 30px; }
h2 { font-size: 26px; }
h3 { font-size: 18px; }


input.searchbox {
  box-sizing: border-box;
  margin: 0;
  padding: 8px 16px;
  padding-right: 35px;
  vertical-align: baseline;
  font-size: 14px;
  line-height: 19px;
  height: 35px;
  color: #838383;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #8EA0B3;
  outline: none;
  text-overflow: ellipsis;
  /* auto-clear-search buttons */
  &::-webkit-search-cancel-button{
    position:relative;
    right:-5px;
    -webkit-appearance: none;
    height: 20px;
    width: 16px;
    background-image: url("../../assets/search-clear.svg");
    background-position: left center;
    background-repeat: no-repeat;
    background-color: white;
    border-right: 1px solid #BEC9D5;
  }
  &::-ms-clear{
    margin-right:-5px
  }
  /* placeholder text */
  ::-webkit-input-placeholder {
    color:    #AFAEAE;
  }
  :-moz-placeholder {
     color:    #AFAEAE;
     opacity:  1;
  }
  ::-moz-placeholder {
     color:    #AFAEAE;
     opacity:  1;
  }
  :-ms-input-placeholder {
     color:    #AFAEAE;
  }

}

button {
  margin: 0;
  padding: 8px 16px;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font-size: 14px;
  line-height: 19px;
  height: 35px;
  color: white;
  background-color: #4B5A6A;
  border-radius: 4px;
  cursor: pointer;

  &.disabled {
    opacity: 0.4;
  }
  &:not(.disabled):hover {
    background-color: #36414D;
  }
  &:active {
    box-shadow: inset 0 5px 30px #193047;
  }
}

button,
input[type="checkbox"] {
  outline: none;
}

.main {
  header {
    box-shadow: 0px 0px 20px rgba(#000, 0.5);
  }
}
