div#compare {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 212px;

  background: rgba(#344762, 0.8);
  background: linear-gradient(to bottom, rgba(#344762,0.8) 0%,rgba(#262323,0.8) 100%);
}
