div#compare {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 212px;

  background: rgba(#344762, 0.8);
  background: linear-gradient(to bottom, rgba(#344762,0.8) 0%,rgba(#262323,0.8) 100%);

  ul.metrics {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    margin-top: 20px;
    margin-left: 50px;
    padding: 0;
    li {
      display: inline-block;
      margin-right: 12px;
      line-height: 16px;
    }
    &.after {
      position: absolute;
      right: 250px;
    }
    &.before li:first-child {
      margin-right: 24px;
      border-right: 1px solid #979797;
      padding-right: 18px;
      height: 36px;
      vertical-align: top;
    }
    &.after li:last-child {
      margin-left: 12px;
      border-left: 1px solid #979797;
      padding-left: 18px;
      height: 36px;
      vertical-align: top;
    }
    p {
      margin: 0;
      color: white;
    }
  }
}
